* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.product {
  transition: all 0.5s ease-in-out;
}

.product:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px;
}
